<template>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <i class="fa fa-angle-left float-left close close_modal" data-dismiss="modal"></i>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h4>10 healthy fruits you should eat</h4>
                    <a href="healthytips.com" class="site_href">healthytips.com</a>
                    <p style="color: blue">Enter the details o the article you want to order</p>

                    <form action="">
                        <div class="form-group">
                            <label for="source">source</label>
                            <input v-model="source"
                                   name="source"
                                   type="text"
                                   class="form-control"
                                   id="source"
                                   aria-describedby="sourceHelp"
                                   placeholder="enter a link">
                            <small v-if="errors.source" id="sourceHelp" class="form-text text-muted">Invalid link.</small>
                        </div>
                        <div class="form-group">
                            <label for="instructions">instructions</label>
                            <textarea
                                    v-model="instructions"
                                    name="instructions"
                                    class="form-control md-textarea"
                                    id="instructions"
                                    aria-describedby="instructionsHelp"
                                    placeholder="enter your instructions"></textarea>
                            <small v-if="errors.instructions" id="instructions" class="form-text text-muted">Max words length 30.</small>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="form-group">
                                <label for="writers">number of writers</label>
                                <select id="writers" class="form-control" name="writers" v-model="writers">
                                    <option v-for="item in 15">{{ item }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="budget">budget (USD)</label>
                                <input
                                        min="5"
                                        max="500"
                                        v-model="budget"
                                        type="number"
                                        id="budget"
                                        class="form-control"
                                        aria-describedby="budgetHelp"
                                        name="budget">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="grey_label" for="instructions">Please select options (optional)</label>
                            <div>
                                <label for="bilingual">Bilingual (add 20%)
                                    <input id="bilingual" type="radio" v-model="optional" name="optional" value="20">
                                </label><br>
                                <label for="proof-reading">Proof-reading (add 10%)
                                    <input id="proof-reading" type="radio" v-model="optional" name="optional" value="10">
                                </label><br>
                                <label for="copy-editing">Copy-editing (add 20%)
                                    <input id="copy-editing" type="radio" v-model="optional" name="optional" value="20">
                                </label><br>
                            </div>
                            <p>Price{{price}}</p>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-info success_order">
                        <i class="fa fa-user"></i>
                        <span style="margin: 0 10px">SUBMIT</span>
                        <span>{{ price }}$</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OrderComponent",
        data() {
            return {
                optional:0,
                price:5,
                writers:1,
                source: '',
                instructions:'',
                budget: 5,
                errors: {
                    source: null,
                    instructions:false,
                }
            };
        },
        watch: {
            source(value) {
                let url = value;

                try {
                    url = new URL(url).toString();
                } catch (e) {
                    url = '';
                }

                const regex = /^(.+)\/.*$/ig;
                this.errors.source = (regex.exec(url) === null) ? true : false;
            },
            instructions() {
                let s = document.getElementById('instructions').value;
                s = s.replace(/(^\s*)|(\s*$)/gi,"");
                s = s.replace(/[ ]{2,}/gi," ");
                s = s.replace(/\n /,"\n");
                s = s.split(' ').filter(function(str){return str!="";}).length;
                if (s > 30) {
                    this.errors.instructions = true;
                } else {
                    this.errors.instructions = false;
                }
            },
            budget(value){
                let price = value * this.writers;
                let discount = (this.optional * price) / 100;
                this.price = parseInt(price + discount);
            },
            optional(value){
                let price = this.budget * this.writers;
                let discount = (value * price) / 100;
                this.price = parseInt(price + discount);
            },
            writers(value){
                let price = this.budget * value;
                let discount = (this.optional * price) / 100;
                this.price = parseInt(price + discount);
            }
        },
    }
</script>

<style scoped>
    .modal-header {
        height: 200px;
        background-image: url("../../public/fruits.jpg");
        object-fit: cover;
    }

    .site_href {
        color: forestgreen;
    }

    .close_modal {
        font-size: 45px;
        cursor: pointer;
    }

    .grey_label {
        padding: 5px 10px;
        width: 100%;
        background: grey;
    }

    .modal-footer {
        justify-content: center;
        border: none;
    }
</style>