<template>
    <div id="app">
        <div class="container mt-3">
            <div class="text-center">
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success">Create new content</button>
            </div>
            <order-component></order-component>
        </div>
    </div>
</template>

<script>
    import OrderComponent from './components/OrderComponent'
    export default {
        name: 'app',
        components:{
            OrderComponent
        }
    }
</script>

<style>

</style>
